# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Archivos temporales
temp/
*.tmp

# Base de datos
database/*.db
database/*.sqlite

# Configuración de VS Code
.vscode/

# Variables de entorno
.env

# Archivos del sistema
Thumbs.db
Desktop.ini

# Compilados
build/
dist/
*.spec